* {
  -webkit-tap-highlight-color: transparent;
}

.menu-container {
  background-color: #876546;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.menu-header-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.cart-cost-container {
  background-color: green;
  max-height: 40px;
  width: 98px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 5px 10px 5px 10px;
  transition: all ease-in 0.1s;
}

.cart-cost-container:hover {
  cursor: pointer;
}

.cart-cost-container:active {
  background-color: rgb(1, 112, 1);
}

.cart-cost-container-expanded {
  width: 190px;
  max-height: 80px;
}

.cart-cost-header {
  display: flex;
}

.cart-icon {
  width: 40px;
  height: auto;
}

.filter-container {
  background-color: #e5cb7a;
  border-radius: 30px;
  max-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  transition: max-height ease-in 0.1s;
}

.filter-container:hover {
  cursor: pointer;
}

.filter-container:active {
  background-color: #deb94c;
}

.filter-container-expanded {
  max-height: 80px;
}

.filter-container svg {
  width: 20px;
  height: auto;
}

.selected-filter {
  display: flex;
}

.menu-scroller-container {
  flex: 1;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.menu-scroller-container:after {
  content: "";
  height: 320px;
  width: 190px;
}

.menu-scroller-container-remove-after:after {
  display: none;
}

.menu-item-card-container {
  height: 320px;
  width: 175px;
  background-color: #794e25;
  border: 2.5px solid #e5cb7a;
  position: relative;
}
