* {
  -webkit-tap-highlight-color: transparent;
}

.menu-container {
  background-color: #876546;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.menu-header-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.cart-cost-container {
  background-color: green;
  max-height: 40px;
  max-width: 120px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 5px 10px 5px 10px;
  transition: all ease-in 0.1s;
}

.cart-cost-container:hover {
  cursor: pointer;
}

.cart-cost-container:active {
}

.cart-cost-container-expanded {
  max-width: 250px;
  max-height: 400px;
  padding-bottom: 10px;
}

.cart-item-container {
  width: 245px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.cart-item-container:last-child {
  margin-bottom: 0;
}

.cart-item-container .cart-amount-container {
  display: flex;
}

.cart-item-container .cart-item-remove-button {
  background-color: green;
  border: none;
}

.cart-item-container select {
  width: 40px;
  background-color: green;
  border: none;
  font-family: Jolly Lodger;
  font-size: 1.2rem;
}

.cart-item-container p {
  font-size: 1.4rem;
}

.cart-cost-header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cart-icon {
  width: 40px;
  height: auto;
}

.filter-container {
  background-color: #e5cb7a;
  border-radius: 30px;
  max-height: 50px;
  min-height: 40px;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: max-height ease-in 0.1s;
}

.filter-container:hover {
  cursor: pointer;
}

/* .filter-container:active {
  background-color: #deb94c;
} */

.filter-container-expanded {
  max-height: 140px;
}

.filter-container svg {
  width: 20px;
  height: auto;
}

.filter-dropdown-link {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.filter-dropdown-link:last-child {
  padding-bottom: 5px;
}

.filter-dropdown-link:hover {
  background-color: #d5ba68;
}
.filter-dropdown-link:active {
  background-color: #deb94c;
}

.selected-filter {
  display: flex;
  min-height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.selected-filter:active {
  background-color: #deb94c;
}

.menu-scroller-container {
  flex: 1;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.menu-scroller-container:after {
  content: "";
  height: 320px;
  width: 175px;
}

.menu-scroller-container-remove-after:after {
  display: none;
}

.menu-item-card-container {
  height: 320px;
  width: 175px;
  background-color: #794e25;
  border: 2.5px solid #e5cb7a;
  position: relative;
}
